<p><%= link_to flat.name, flat_path(flat), class: "text-14 text-decoration-none fw-bold text-black" %></p>
<p class="text-12 fst-italic mb-0", id="small-line-height", style="margin-top: -8px;"><%= flat.address %></p>
