<p class="text-14 fw-bold"><%= flat.name %></p>
<p class="text-16 text-danger", id="small-line-height", style="margin-top: -8px;"><%= flat.price_per_night %> € par nuit</p>
<p class="text-12 fst-italic mb-0", id="small-line-height", style="margin-top: -8px;"><%= flat.address %></p>
