<div class="row justify-content-center mt-5">
  <div class="col-3 border p-4 bg-white">
    <%= simple_form_for [@flat, @booking] do |f| %>
      <%= f.input :start_date, as: :date, html5: true, input_html: {value: Date.today}, label: 'Date d\'arrivée' %>
      <%= f.input :end_date, as: :date, html5: true, input_html: {value: Date.today + 1}, label: 'Date de départ' %>
      <%= f.button :submit, "Réserver", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
