<div class="container mt-4">
  <%= simple_form_for [@flat, @booking] do |f| %>
    <%= f.input :start_date, label: 'Date d\'arrivée' %>
    <%= f.input :end_date, label: 'Date de départ' %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
