<div class="container mt-4">
  <% if user_signed_in? %>
    <h2>Bienvenue <%= current_user.firstName %> !</h2>
  <% else %>
    <p>Vous n'êtes pas connecté</p>
  <% end %>
  <%= link_to 'Voir les appartements', flats_path, class: "btn btn-primary" %>
</div>
