.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-flat {
  border-radius: $border-radius-card;
  border: solid white 1px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-flat > img {
  border-radius: $border-radius-card;
  object-fit: contain;
}

.card-details {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
}
